/* Utilities Classes */
.container{
    max-width: 1320px;
    margin: auto;
    padding: 0 3%;
}
.container_fluid{
    max-width: 100%;
    padding:0 5%;
}
.bg_primary{
    background-color: #17c0eb;
    color: white;
}
.bg_secondary{
    background-color: #c9e7ec;
}
.bg_dark{
    background-color: rgb(39, 37, 37);
}
.flex{
    display: flex;
}
.half_width{
    width: 50%;
}
.colored{
    color: orangered;
}
.mb_15{
    padding-bottom: 15%;
}
.btn{
    text-decoration: none;
    color: white;
    background-color: crimson;
    padding: 15px 40px;
    border-radius: 6px;
    margin-top: 10px;
    display: inline-block;
    background-image: linear-gradient(to right, red, blue);
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.text_center{
    text-align: center;
}
.align_center{
    align-items: center;
}
.lead{
    font-size: 20px;
    font-weight: 300;
}
.lead_2{
    font-size: 18px;
    font-weight: 300;
}
.text_while{
    color: white!important;
}